@import "./nord-theme.css";

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 2px;
    line-height : 25px;
}

/* Estilos para los titulos */
h1{
    font-size: 1.9em;
}

/* Estilos cabecera */
header {
    max-width: 950px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

hr {
    background-color: var(--nord13);
    height: 2px;
    width: 100%;
    display: block;
    border: none;
}