@import "./nord-theme.css";

.container {
    max-width: 1200px;
    margin: 0 auto;
    column-count: 5;
    column-gap: 5px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        column-count: 3;
    }
}

@media screen and (max-width: 576px) {
    .container {
        column-count: 1;
    }
}