@import "./nord-theme.css";

body {
    width: 100%;
    height: 100%;
    /* no mostrar barras de desplazamiento */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body.activo {
    /* mostrar las barras de desplazamiento */
    overflow: auto;
    /* configurar margen y padding */
    margin: 0;
    padding: 0;
}

#mostrar {
    /* colocar encima de todo el contenido */
    position: absolute;
    top: 0;
    z-index: 1000;

    /* evitar que se vea lo que esta debajo */
    width: 100%;
    height: 100%;
    background: var(--nord6);

    /* ocultar con transaccion */
    transition: all 0.5s ease;
}

#mostrar.ocultar {
    /* Enviar arriba para ocultar */
    top: -100%;
}

#spinner {
    /* centrar en pantalla */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: var(--nord14);
    animation: 2s rotate ease-in-out infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}